{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Selamat datang !!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</head>

<body id="index-body">
        <div class="container-fluid">
            <h1 class="hello-sign">
                <span class="text-wrapper">
                    <span class="letters">
                        Hello apa kabar ?
                    </span>

                    <span class="letters profile">
                        <a href="{% url 'profile_page' %}">Click me!!! to see my profile</a>
                    </span>

                </span>
            </h1>
        </div>

        <div class="container-fluid status">

            <form id="status-message" class="form-horizontal" action="{% url 'add_status' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ message_form }}
                </div>
                <div class="form-group">

                    <div>
                        <button type="submit" id="submit-button" class="btn btn-primary btn-md pull-right">Submit</button>
                    </div>

                </div>

            </form>
        </div>

        <div class="container-fluid list-status-message">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-dark" id="message_status_list" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Message status</th>
                            <th>Created_At</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in message_status_list %}
                        <tr class="table-primary">
                            <td id="status-message-col" style="color:black">{{ i.message }} </td>
                            <td style="color:black">{{ i.created_at }} </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

            <div class="pagination pull-right">
                <span class="step-links">
                    {% if message_status_list.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ message_status_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ message_status_list.number }} of {{ message_status_list.paginator.num_pages }}.
                    </span>

                    {% if message_status_list.has_next %}
                    <a href="?page={{ message_status_list.next_page_number }}">next</a>
                    <a href="?page={{ message_status_list.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>

        </div>
</body>

</html>
