{% extends 'navbar/base.html' %}

{% load static %}

{% block link %}
<title>Profile Page</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" id="theme">
<script src="{% static 'js/include.js' %}"></script>
{% endblock %}


{% block content %}

<div id="loader"></div>
<div id="animated_div" style="display:none;" class="animate-bottom">

&nbsp;
<h3>Profile Page</h3><br>

<div id="accordion">
    <h2>About</h2>
    <div>
        <img id="img-responsive" src="{% static 'avatar.png' %}" alt="foto-ku"><br>
        <p id="short-intro">
            Nama saya Muhammad Ardivan Satrio Nugroho. Seorang pembelajar yang ingin terus belajar terutama di
            dunia teknologi.
            Senang dan tertarik dengan hal Free Open Source dan software development. Berharap menjadi seseorang
            yang
            lebih baik dari hari sebelumnya. Keep it going!
        </p>
    </div>

    <h2>Aktivitas</h2>
    <div>
        <img id="img-responsive" src="{% static 'fasilkom.png' %}" alt="foto-ui" style="border-radius: 70%;"><br>
        <p>
            Mahasiswa Ilmu Komputer Universitas Indonesia 2017
        </p>
    </div>

    <h2>Pengalaman</h2>
    <div>

        <img id="img-responsive" src="{% static 'badr.png' %}" alt="foto-badr" style="border-radius: 50%;"><br>
        <p>
            Badr Interactive,PT<br>
            Web Developer Intern<br>
            Juni 2018 - Agustus 2018
        </p>

        <img id="img-responsive" src="{% static 'compfest.png' %}" alt="foto-compfest" style="border-radius: 50%;"><br>
        <p>
            Compfest<br>
            Staff Capture The Flag Competition<br>
            Maret 2018 - Oktober 2018
        </p>

    </div>

    <h2>Organisasi</h2>
    <div>
        <img id="img-responsive" src="{% static 'bem.png' %}" alt="foto-logo-bem" style="border-radius: 50%;"><br>
        <p>
            BEM Fasilkom UI<br>
            Staff Akademik dan Kepemimpinan<br>
            Februari 2018 - Sekarang
        </p>
    </div>

    <h2>Prestasi</h2>
    <div>
        <img id="img-responsive" src="{% static 'nlc.png' %}" alt="foto-nlc" style="border-radius: 50%;"><br>
        <p>
            Finalis NLC (National Logic Competition)<br>
            HTMC Institut Teknologi Sepuluh Nopember<br>
            November 2016
        </p>
    </div>
</div>
</div>

<script src="{% static 'js/loading.js' %}"></script>


{% endblock %}